@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    @keyframes infinite-scroll {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100%);
      }
    }
    .animate-infinite-scroll {
      animation: infinite-scroll infinite linear 20s;
    
  }
}

/* Hide the scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


